.footer {
  background-color: #1a1a1a;
  color: #eee;
  text-align: center;
  padding: 1.5rem;

  .footer-content {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      margin: 0;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      gap: 1rem;

      a {
        color: #eee;
        font-size: 1.2rem;
        transition: color 0.3s ease;

        &:hover {
          color: #00aced;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .footer-content {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
